<div class="bg-danger-subtle py-2 mb-4 text-center">
   <i class="bi bi-exclamation-circle-fill"></i> Your version {{ current_version }} is outdated, <a href="/@backend/live-updater/">run updater</a>
</div>