.blockee-editor-block-element[data-bg-image] {
    background-size: cover;
    background-position: center center;
}



/** ALIGNMENT **/
.blockee-editor-block-element[data-align="left"] {text-align: left}
.blockee-editor-block-element[data-align="center"] {text-align: center}
.blockee-editor-block-element[data-align="right"] {text-align: right}
.blockee-editor-block-element[data-align="justify"] {text-align: justify}


/** MARGIN **/
.blockee-editor-block-element[data-margin*="mt-0"] {margin-top: 0}
.blockee-editor-block-element[data-margin*="mt-1"] {margin-top: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-margin*="mt-2"] {margin-top: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-margin*="mt-3"] {margin-top: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-margin*="mt-4"] {margin-top: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-margin*="mt-5"] {margin-top: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-margin*="mt-6"] {margin-top: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-margin*="mt-7"] {margin-top: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-margin*="mt-8"] {margin-top: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-margin*="mt-9"] {margin-top: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-margin*="mt-10"] {margin-top: var(--blockee-spacer-10)}

.blockee-editor-block-element[data-margin*="mb-0"] {margin-bottom: 0}
.blockee-editor-block-element[data-margin*="mb-1"] {margin-bottom: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-margin*="mb-2"] {margin-bottom: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-margin*="mb-3"] {margin-bottom: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-margin*="mb-4"] {margin-bottom: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-margin*="mb-5"] {margin-bottom: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-margin*="mb-6"] {margin-bottom: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-margin*="mb-7"] {margin-bottom: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-margin*="mb-8"] {margin-bottom: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-margin*="mb-9"] {margin-bottom: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-margin*="mb-10"] {margin-bottom: var(--blockee-spacer-10)}

.blockee-editor-block-element[data-margin*="ms-0"] {margin-left: 0}
.blockee-editor-block-element[data-margin*="ms-1"] {margin-left: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-margin*="ms-2"] {margin-left: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-margin*="ms-3"] {margin-left: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-margin*="ms-4"] {margin-left: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-margin*="ms-5"] {margin-left: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-margin*="ms-6"] {margin-left: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-margin*="ms-7"] {margin-left: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-margin*="ms-8"] {margin-left: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-margin*="ms-9"] {margin-left: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-margin*="ms-10"] {margin-left: var(--blockee-spacer-10)}

.blockee-editor-block-element[data-margin*="me-0"] {margin-right: 0}
.blockee-editor-block-element[data-margin*="me-1"] {margin-right: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-margin*="me-2"] {margin-right: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-margin*="me-3"] {margin-right: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-margin*="me-4"] {margin-right: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-margin*="me-5"] {margin-right: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-margin*="me-6"] {margin-right: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-margin*="me-7"] {margin-right: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-margin*="me-8"] {margin-right: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-margin*="me-9"] {margin-right: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-margin*="me-10"] {margin-right: var(--blockee-spacer-10)}


/** PADDING **/
.blockee-editor-block-element[data-padding*="pt-0"] {padding-top: 0}
.blockee-editor-block-element[data-padding*="pt-1"] {padding-top: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-padding*="pt-2"] {padding-top: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-padding*="pt-3"] {padding-top: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-padding*="pt-4"] {padding-top: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-padding*="pt-5"] {padding-top: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-padding*="pt-6"] {padding-top: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-padding*="pt-7"] {padding-top: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-padding*="pt-8"] {padding-top: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-padding*="pt-9"] {padding-top: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-padding*="pt-10"] {padding-top: var(--blockee-spacer-10)}

.blockee-editor-block-element[data-padding*="pb-0"] {padding-bottom: 0}
.blockee-editor-block-element[data-padding*="pb-1"] {padding-bottom: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-padding*="pb-2"] {padding-bottom: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-padding*="pb-3"] {padding-bottom: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-padding*="pb-4"] {padding-bottom: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-padding*="pb-5"] {padding-bottom: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-padding*="pb-6"] {padding-bottom: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-padding*="pb-7"] {padding-bottom: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-padding*="pb-8"] {padding-bottom: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-padding*="pb-9"] {padding-bottom: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-padding*="pb-10"] {padding-bottom: var(--blockee-spacer-10)}

.blockee-editor-block-element[data-padding*="ps-0"] {padding-left: 0}
.blockee-editor-block-element[data-padding*="ps-1"] {padding-left: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-padding*="ps-2"] {padding-left: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-padding*="ps-3"] {padding-left: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-padding*="ps-4"] {padding-left: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-padding*="ps-5"] {padding-left: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-padding*="ps-6"] {padding-left: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-padding*="ps-7"] {padding-left: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-padding*="ps-8"] {padding-left: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-padding*="ps-9"] {padding-left: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-padding*="ps-10"] {padding-left: var(--blockee-spacer-10)}

.blockee-editor-block-element[data-padding*="pe-0"] {padding-right: 0}
.blockee-editor-block-element[data-padding*="pe-1"] {padding-right: var(--blockee-spacer-1)}
.blockee-editor-block-element[data-padding*="pe-2"] {padding-right: var(--blockee-spacer-2)}
.blockee-editor-block-element[data-padding*="pe-3"] {padding-right: var(--blockee-spacer-3)}
.blockee-editor-block-element[data-padding*="pe-4"] {padding-right: var(--blockee-spacer-4)}
.blockee-editor-block-element[data-padding*="pe-5"] {padding-right: var(--blockee-spacer-5)}
.blockee-editor-block-element[data-padding*="pe-6"] {padding-right: var(--blockee-spacer-6)}
.blockee-editor-block-element[data-padding*="pe-7"] {padding-right: var(--blockee-spacer-7)}
.blockee-editor-block-element[data-padding*="pe-8"] {padding-right: var(--blockee-spacer-8)}
.blockee-editor-block-element[data-padding*="pe-9"] {padding-right: var(--blockee-spacer-9)}
.blockee-editor-block-element[data-padding*="pe-10"] {padding-right: var(--blockee-spacer-10)}





/** COLORS **/
.blockee-editor-block-element[data-color="aliceblue"], .aliceblue { color: aliceblue; }
.blockee-editor-block-element[data-color="antiquewhite"], .antiquewhite { color: antiquewhite; }
.blockee-editor-block-element[data-color="aqua"], .aqua { color: aqua; }
.blockee-editor-block-element[data-color="aquamarine"], .aquamarine { color: aquamarine; }
.blockee-editor-block-element[data-color="azure"], .azure { color: azure; }
.blockee-editor-block-element[data-color="beige"], .beige { color: beige; }
.blockee-editor-block-element[data-color="bisque"], .bisque { color: bisque; }
.blockee-editor-block-element[data-color="black"], .black { color: black; }
.blockee-editor-block-element[data-color="blanchedalmond"], .blanchedalmond { color: blanchedalmond; }
.blockee-editor-block-element[data-color="blue"], .blue { color: blue; }
.blockee-editor-block-element[data-color="blueviolet"], .blueviolet { color: blueviolet; }
.blockee-editor-block-element[data-color="brown"], .brown { color: brown; }
.blockee-editor-block-element[data-color="burlywood"], .burlywood { color: burlywood; }
.blockee-editor-block-element[data-color="cadetblue"], .cadetblue { color: cadetblue; }
.blockee-editor-block-element[data-color="chartreuse"], .chartreuse { color: chartreuse; }
.blockee-editor-block-element[data-color="chocolate"], .chocolate { color: chocolate; }
.blockee-editor-block-element[data-color="coral"], .coral { color: coral; }
.blockee-editor-block-element[data-color="cornflowerblue"], .cornflowerblue { color: cornflowerblue; }
.blockee-editor-block-element[data-color="cornsilk"], .cornsilk { color: cornsilk; }
.blockee-editor-block-element[data-color="crimson"], .crimson { color: crimson; }
.blockee-editor-block-element[data-color="cyan"], .cyan { color: cyan; }
.blockee-editor-block-element[data-color="darkblue"], .darkblue { color: darkblue; }
.blockee-editor-block-element[data-color="darkcyan"], .darkcyan { color: darkcyan; }
.blockee-editor-block-element[data-color="darkgoldenrod"], .darkgoldenrod { color: darkgoldenrod; }
.blockee-editor-block-element[data-color="darkgray"], .darkgray { color: darkgray; }
.blockee-editor-block-element[data-color="darkgreen"], .darkgreen { color: darkgreen; }
.blockee-editor-block-element[data-color="darkkhaki"], .darkkhaki { color: darkkhaki; }
.blockee-editor-block-element[data-color="darkmagenta"], .darkmagenta { color: darkmagenta; }
.blockee-editor-block-element[data-color="darkolivegreen"], .darkolivegreen { color: darkolivegreen; }
.blockee-editor-block-element[data-color="darkorange"], .darkorange { color: darkorange; }
.blockee-editor-block-element[data-color="darkorchid"], .darkorchid { color: darkorchid; }
.blockee-editor-block-element[data-color="darkred"], .darkred { color: darkred; }
.blockee-editor-block-element[data-color="darksalmon"], .darksalmon { color: darksalmon; }
.blockee-editor-block-element[data-color="darkseagreen"], .darkseagreen { color: darkseagreen; }
.blockee-editor-block-element[data-color="darkslateblue"], .darkslateblue { color: darkslateblue; }
.blockee-editor-block-element[data-color="darkslategray"], .darkslategray { color: darkslategray; }
.blockee-editor-block-element[data-color="darkturquoise"], .darkturquoise { color: darkturquoise; }
.blockee-editor-block-element[data-color="darkviolet"], .darkviolet { color: darkviolet; }
.blockee-editor-block-element[data-color="deeppink"], .deeppink { color: deeppink; }
.blockee-editor-block-element[data-color="deepskyblue"], .deepskyblue { color: deepskyblue; }
.blockee-editor-block-element[data-color="dimgray"], .dimgray { color: dimgray; }
.blockee-editor-block-element[data-color="dodgerblue"], .dodgerblue { color: dodgerblue; }
.blockee-editor-block-element[data-color="firebrick"], .firebrick { color: firebrick; }
.blockee-editor-block-element[data-color="floralwhite"], .floralwhite { color: floralwhite; }
.blockee-editor-block-element[data-color="forestgreen"], .forestgreen { color: forestgreen; }
.blockee-editor-block-element[data-color="fuchsia"], .fuchsia { color: fuchsia; }
.blockee-editor-block-element[data-color="gainsboro"], .gainsboro { color: gainsboro; }
.blockee-editor-block-element[data-color="ghostwhite"], .ghostwhite { color: ghostwhite; }
.blockee-editor-block-element[data-color="gold"], .gold { color: gold; }
.blockee-editor-block-element[data-color="goldenrod"], .goldenrod { color: goldenrod; }
.blockee-editor-block-element[data-color="gray"], .gray { color: gray; }
.blockee-editor-block-element[data-color="green"], .green { color: green; }
.blockee-editor-block-element[data-color="greenyellow"], .greenyellow { color: greenyellow; }
.blockee-editor-block-element[data-color="honeydew"], .honeydew { color: honeydew; }
.blockee-editor-block-element[data-color="hotpink"], .hotpink { color: hotpink; }
.blockee-editor-block-element[data-color="indianred"], .indianred { color: indianred; }
.blockee-editor-block-element[data-color="indigo"], .indigo { color: indigo; }
.blockee-editor-block-element[data-color="ivory"], .ivory { color: ivory; }
.blockee-editor-block-element[data-color="khaki"], .khaki { color: khaki; }
.blockee-editor-block-element[data-color="lavender"], .lavender { color: lavender; }
.blockee-editor-block-element[data-color="lavenderblush"], .lavenderblush { color: lavenderblush; }
.blockee-editor-block-element[data-color="lawngreen"], .lawngreen { color: lawngreen; }
.blockee-editor-block-element[data-color="lemonchiffon"], .lemonchiffon { color: lemonchiffon; }
.blockee-editor-block-element[data-color="lightblue"], .lightblue { color: lightblue; }
.blockee-editor-block-element[data-color="lightcoral"], .lightcoral { color: lightcoral; }
.blockee-editor-block-element[data-color="lightcyan"], .lightcyan { color: lightcyan; }
.blockee-editor-block-element[data-color="lightgoldenrodyellow"], .lightgoldenrodyellow { color: lightgoldenrodyellow; }
.blockee-editor-block-element[data-color="lightgray"], .lightgray { color: lightgray; }
.blockee-editor-block-element[data-color="lightgreen"], .lightgreen { color: lightgreen; }
.blockee-editor-block-element[data-color="lightpink"], .lightpink { color: lightpink; }
.blockee-editor-block-element[data-color="lightsalmon"], .lightsalmon { color: lightsalmon; }
.blockee-editor-block-element[data-color="lightseagreen"], .lightseagreen { color: lightseagreen; }
.blockee-editor-block-element[data-color="lightskyblue"], .lightskyblue { color: lightskyblue; }
.blockee-editor-block-element[data-color="lightslategray"], .lightslategray { color: lightslategray; }
.blockee-editor-block-element[data-color="lightsteelblue"], .lightsteelblue { color: lightsteelblue; }
.blockee-editor-block-element[data-color="lightyellow"], .lightyellow { color: lightyellow; }
.blockee-editor-block-element[data-color="lime"], .lime { color: lime; }
.blockee-editor-block-element[data-color="limegreen"], .limegreen { color: limegreen; }
.blockee-editor-block-element[data-color="linen"], .linen { color: linen; }
.blockee-editor-block-element[data-color="magenta"], .magenta { color: magenta; }
.blockee-editor-block-element[data-color="maroon"], .maroon { color: maroon; }
.blockee-editor-block-element[data-color="mediumaquamarine"], .mediumaquamarine { color: mediumaquamarine; }
.blockee-editor-block-element[data-color="mediumblue"], .mediumblue { color: mediumblue; }
.blockee-editor-block-element[data-color="mediumorchid"], .mediumorchid { color: mediumorchid; }
.blockee-editor-block-element[data-color="mediumpurple"], .mediumpurple { color: mediumpurple; }
.blockee-editor-block-element[data-color="mediumseagreen"], .mediumseagreen { color: mediumseagreen; }
.blockee-editor-block-element[data-color="mediumslateblue"], .mediumslateblue { color: mediumslateblue; }
.blockee-editor-block-element[data-color="mediumspringgreen"], .mediumspringgreen { color: mediumspringgreen; }
.blockee-editor-block-element[data-color="mediumturquoise"], .mediumturquoise { color: mediumturquoise; }
.blockee-editor-block-element[data-color="mediumvioletred"], .mediumvioletred { color: mediumvioletred; }
.blockee-editor-block-element[data-color="midnightblue"], .midnightblue { color: midnightblue; }
.blockee-editor-block-element[data-color="mintcream"], .mintcream { color: mintcream; }
.blockee-editor-block-element[data-color="mistyrose"], .mistyrose { color: mistyrose; }
.blockee-editor-block-element[data-color="moccasin"], .moccasin { color: moccasin; }
.blockee-editor-block-element[data-color="navajowhite"], .navajowhite { color: navajowhite; }
.blockee-editor-block-element[data-color="navy"], .navy { color: navy; }
.blockee-editor-block-element[data-color="oldlace"], .oldlace { color: oldlace; }
.blockee-editor-block-element[data-color="olive"], .olive { color: olive; }
.blockee-editor-block-element[data-color="olivedrab"], .olivedrab { color: olivedrab; }
.blockee-editor-block-element[data-color="orange"], .orange { color: orange; }
.blockee-editor-block-element[data-color="orangered"], .orangered { color: orangered; }
.blockee-editor-block-element[data-color="orchid"], .orchid { color: orchid; }
.blockee-editor-block-element[data-color="palegoldenrod"], .palegoldenrod { color: palegoldenrod; }
.blockee-editor-block-element[data-color="palegreen"], .palegreen { color: palegreen; }
.blockee-editor-block-element[data-color="paleturquoise"], .paleturquoise { color: paleturquoise; }
.blockee-editor-block-element[data-color="palevioletred"], .palevioletred { color: palevioletred; }
.blockee-editor-block-element[data-color="papayawhip"], .papayawhip { color: papayawhip; }
.blockee-editor-block-element[data-color="peachpuff"], .peachpuff { color: peachpuff; }
.blockee-editor-block-element[data-color="peru"], .peru { color: peru; }
.blockee-editor-block-element[data-color="pink"], .pink { color: pink; }
.blockee-editor-block-element[data-color="plum"], .plum { color: plum; }
.blockee-editor-block-element[data-color="powderblue"], .powderblue { color: powderblue; }
.blockee-editor-block-element[data-color="purple"], .purple { color: purple; }
.blockee-editor-block-element[data-color="rebeccapurple"], .rebeccapurple { color: rebeccapurple; }
.blockee-editor-block-element[data-color="red"], .red { color: red; }
.blockee-editor-block-element[data-color="rosybrown"], .rosybrown { color: rosybrown; }
.blockee-editor-block-element[data-color="royalblue"], .royalblue { color: royalblue; }
.blockee-editor-block-element[data-color="saddlebrown"], .saddlebrown { color: saddlebrown; }
.blockee-editor-block-element[data-color="salmon"], .salmon { color: salmon; }
.blockee-editor-block-element[data-color="sandybrown"], .sandybrown { color: sandybrown; }
.blockee-editor-block-element[data-color="seagreen"], .seagreen { color: seagreen; }
.blockee-editor-block-element[data-color="seashell"], .seashell { color: seashell; }
.blockee-editor-block-element[data-color="sienna"], .sienna { color: sienna; }
.blockee-editor-block-element[data-color="silver"], .silver { color: silver; }
.blockee-editor-block-element[data-color="skyblue"], .skyblue { color: skyblue; }
.blockee-editor-block-element[data-color="slateblue"], .slateblue { color: slateblue; }
.blockee-editor-block-element[data-color="slategray"], .slategray { color: slategray; }
.blockee-editor-block-element[data-color="snow"], .snow { color: snow; }
.blockee-editor-block-element[data-color="springgreen"], .springgreen { color: springgreen; }
.blockee-editor-block-element[data-color="steelblue"], .steelblue { color: steelblue; }
.blockee-editor-block-element[data-color="tan"], .tan { color: tan; }
.blockee-editor-block-element[data-color="teal"], .teal { color: teal; }
.blockee-editor-block-element[data-color="thistle"], .thistle { color: thistle; }
.blockee-editor-block-element[data-color="tomato"], .tomato { color: tomato; }
.blockee-editor-block-element[data-color="turquoise"], .turquoise { color: turquoise; }
.blockee-editor-block-element[data-color="violet"], .violet { color: violet; }
.blockee-editor-block-element[data-color="wheat"], .wheat { color: wheat; }
.blockee-editor-block-element[data-color="white"], .white { color: white; }
.blockee-editor-block-element[data-color="whitesmoke"], .whitesmoke { color: whitesmoke; }
.blockee-editor-block-element[data-color="yellow"], .yellow { color: yellow; }



.blockee-editor-block-element[data-bg-color="aliceblue"], .bg-aliceblue { background-color: aliceblue; }
.blockee-editor-block-element[data-bg-color="antiquewhite"], .bg-antiquewhite { background-color: antiquewhite; }
.blockee-editor-block-element[data-bg-color="aqua"], .bg-aqua { background-color: aqua; }
.blockee-editor-block-element[data-bg-color="aquamarine"], .bg-aquamarine { background-color: aquamarine; }
.blockee-editor-block-element[data-bg-color="azure"], .bg-azure { background-color: azure; }
.blockee-editor-block-element[data-bg-color="beige"], .bg-beige { background-color: beige; }
.blockee-editor-block-element[data-bg-color="bisque"], .bg-bisque { background-color: bisque; }
.blockee-editor-block-element[data-bg-color="black"], .bg-black { background-color: black; }
.blockee-editor-block-element[data-bg-color="blanchedalmond"], .bg-blanchedalmond { background-color: blanchedalmond; }
.blockee-editor-block-element[data-bg-color="blue"], .bg-blue { background-color: blue; }
.blockee-editor-block-element[data-bg-color="blueviolet"], .bg-blueviolet { background-color: blueviolet; }
.blockee-editor-block-element[data-bg-color="brown"], .bg-brown { background-color: brown; }
.blockee-editor-block-element[data-bg-color="burlywood"], .bg-burlywood { background-color: burlywood; }
.blockee-editor-block-element[data-bg-color="cadetblue"], .bg-cadetblue { background-color: cadetblue; }
.blockee-editor-block-element[data-bg-color="chartreuse"], .bg-chartreuse { background-color: chartreuse; }
.blockee-editor-block-element[data-bg-color="chocolate"], .bg-chocolate { background-color: chocolate; }
.blockee-editor-block-element[data-bg-color="coral"], .bg-coral { background-color: coral; }
.blockee-editor-block-element[data-bg-color="cornflowerblue"], .bg-cornflowerblue { background-color: cornflowerblue; }
.blockee-editor-block-element[data-bg-color="cornsilk"], .bg-cornsilk { background-color: cornsilk; }
.blockee-editor-block-element[data-bg-color="crimson"], .bg-crimson { background-color: crimson; }
.blockee-editor-block-element[data-bg-color="cyan"], .bg-cyan { background-color: cyan; }
.blockee-editor-block-element[data-bg-color="darkblue"], .bg-darkblue { background-color: darkblue; }
.blockee-editor-block-element[data-bg-color="darkcyan"], .bg-darkcyan { background-color: darkcyan; }
.blockee-editor-block-element[data-bg-color="darkgoldenrod"], .bg-darkgoldenrod { background-color: darkgoldenrod; }
.blockee-editor-block-element[data-bg-color="darkgray"], .bg-darkgray { background-color: darkgray; }
.blockee-editor-block-element[data-bg-color="darkgreen"], .bg-darkgreen { background-color: darkgreen; }
.blockee-editor-block-element[data-bg-color="darkkhaki"], .bg-darkkhaki { background-color: darkkhaki; }
.blockee-editor-block-element[data-bg-color="darkmagenta"], .bg-darkmagenta { background-color: darkmagenta; }
.blockee-editor-block-element[data-bg-color="darkolivegreen"], .bg-darkolivegreen { background-color: darkolivegreen; }
.blockee-editor-block-element[data-bg-color="darkorange"], .bg-darkorange { background-color: darkorange; }
.blockee-editor-block-element[data-bg-color="darkorchid"], .bg-darkorchid { background-color: darkorchid; }
.blockee-editor-block-element[data-bg-color="darkred"], .bg-darkred { background-color: darkred; }
.blockee-editor-block-element[data-bg-color="darksalmon"], .bg-darksalmon { background-color: darksalmon; }
.blockee-editor-block-element[data-bg-color="darkseagreen"], .bg-darkseagreen { background-color: darkseagreen; }
.blockee-editor-block-element[data-bg-color="darkslateblue"], .bg-darkslateblue { background-color: darkslateblue; }
.blockee-editor-block-element[data-bg-color="darkslategray"], .bg-darkslategray { background-color: darkslategray; }
.blockee-editor-block-element[data-bg-color="darkturquoise"], .bg-darkturquoise { background-color: darkturquoise; }
.blockee-editor-block-element[data-bg-color="darkviolet"], .bg-darkviolet { background-color: darkviolet; }
.blockee-editor-block-element[data-bg-color="deeppink"], .bg-deeppink { background-color: deeppink; }
.blockee-editor-block-element[data-bg-color="deepskyblue"], .bg-deepskyblue { background-color: deepskyblue; }
.blockee-editor-block-element[data-bg-color="dimgray"], .bg-dimgray { background-color: dimgray; }
.blockee-editor-block-element[data-bg-color="dodgerblue"], .bg-dodgerblue { background-color: dodgerblue; }
.blockee-editor-block-element[data-bg-color="firebrick"], .bg-firebrick { background-color: firebrick; }
.blockee-editor-block-element[data-bg-color="floralwhite"], .bg-floralwhite { background-color: floralwhite; }
.blockee-editor-block-element[data-bg-color="forestgreen"], .bg-forestgreen { background-color: forestgreen; }
.blockee-editor-block-element[data-bg-color="fuchsia"], .bg-fuchsia { background-color: fuchsia; }
.blockee-editor-block-element[data-bg-color="gainsboro"], .bg-gainsboro { background-color: gainsboro; }
.blockee-editor-block-element[data-bg-color="ghostwhite"], .bg-ghostwhite { background-color: ghostwhite; }
.blockee-editor-block-element[data-bg-color="gold"], .bg-gold { background-color: gold; }
.blockee-editor-block-element[data-bg-color="goldenrod"], .bg-goldenrod { background-color: goldenrod; }
.blockee-editor-block-element[data-bg-color="gray"], .bg-gray { background-color: gray; }
.blockee-editor-block-element[data-bg-color="green"], .bg-green { background-color: green; }
.blockee-editor-block-element[data-bg-color="greenyellow"], .bg-greenyellow { background-color: greenyellow; }
.blockee-editor-block-element[data-bg-color="honeydew"], .bg-honeydew { background-color: honeydew; }
.blockee-editor-block-element[data-bg-color="hotpink"], .bg-hotpink { background-color: hotpink; }
.blockee-editor-block-element[data-bg-color="indianred"], .bg-indianred { background-color: indianred; }
.blockee-editor-block-element[data-bg-color="indigo"], .bg-indigo { background-color: indigo; }
.blockee-editor-block-element[data-bg-color="ivory"], .bg-ivory { background-color: ivory; }
.blockee-editor-block-element[data-bg-color="khaki"], .bg-khaki { background-color: khaki; }
.blockee-editor-block-element[data-bg-color="lavender"], .bg-lavender { background-color: lavender; }
.blockee-editor-block-element[data-bg-color="lavenderblush"], .bg-lavenderblush { background-color: lavenderblush; }
.blockee-editor-block-element[data-bg-color="lawngreen"], .bg-lawngreen { background-color: lawngreen; }
.blockee-editor-block-element[data-bg-color="lemonchiffon"], .bg-lemonchiffon { background-color: lemonchiffon; }
.blockee-editor-block-element[data-bg-color="lightblue"], .bg-lightblue { background-color: lightblue; }
.blockee-editor-block-element[data-bg-color="lightcoral"], .bg-lightcoral { background-color: lightcoral; }
.blockee-editor-block-element[data-bg-color="lightcyan"], .bg-lightcyan { background-color: lightcyan; }
.blockee-editor-block-element[data-bg-color="lightgoldenrodyellow"], .bg-lightgoldenrodyellow { background-color: lightgoldenrodyellow; }
.blockee-editor-block-element[data-bg-color="lightgray"], .bg-lightgray { background-color: lightgray; }
.blockee-editor-block-element[data-bg-color="lightgreen"], .bg-lightgreen { background-color: lightgreen; }
.blockee-editor-block-element[data-bg-color="lightpink"], .bg-lightpink { background-color: lightpink; }
.blockee-editor-block-element[data-bg-color="lightsalmon"], .bg-lightsalmon { background-color: lightsalmon; }
.blockee-editor-block-element[data-bg-color="lightseagreen"], .bg-lightseagreen { background-color: lightseagreen; }
.blockee-editor-block-element[data-bg-color="lightskyblue"], .bg-lightskyblue { background-color: lightskyblue; }
.blockee-editor-block-element[data-bg-color="lightslategray"], .bg-lightslategray { background-color: lightslategray; }
.blockee-editor-block-element[data-bg-color="lightsteelblue"], .bg-lightsteelblue { background-color: lightsteelblue; }
.blockee-editor-block-element[data-bg-color="lightyellow"], .bg-lightyellow { background-color: lightyellow; }
.blockee-editor-block-element[data-bg-color="lime"], .bg-lime { background-color: lime; }
.blockee-editor-block-element[data-bg-color="limegreen"], .bg-limegreen { background-color: limegreen; }
.blockee-editor-block-element[data-bg-color="linen"], .bg-linen { background-color: linen; }
.blockee-editor-block-element[data-bg-color="magenta"], .bg-magenta { background-color: magenta; }
.blockee-editor-block-element[data-bg-color="maroon"], .bg-maroon { background-color: maroon; }
.blockee-editor-block-element[data-bg-color="mediumaquamarine"], .bg-mediumaquamarine { background-color: mediumaquamarine; }
.blockee-editor-block-element[data-bg-color="mediumblue"], .bg-mediumblue { background-color: mediumblue; }
.blockee-editor-block-element[data-bg-color="mediumorchid"], .bg-mediumorchid { background-color: mediumorchid; }
.blockee-editor-block-element[data-bg-color="mediumpurple"], .bg-mediumpurple { background-color: mediumpurple; }
.blockee-editor-block-element[data-bg-color="mediumseagreen"], .bg-mediumseagreen { background-color: mediumseagreen; }
.blockee-editor-block-element[data-bg-color="mediumslateblue"], .bg-mediumslateblue { background-color: mediumslateblue; }
.blockee-editor-block-element[data-bg-color="mediumspringgreen"], .bg-mediumspringgreen { background-color: mediumspringgreen; }
.blockee-editor-block-element[data-bg-color="mediumturquoise"], .bg-mediumturquoise { background-color: mediumturquoise; }
.blockee-editor-block-element[data-bg-color="mediumvioletred"], .bg-mediumvioletred { background-color: mediumvioletred; }
.blockee-editor-block-element[data-bg-color="midnightblue"], .bg-midnightblue { background-color: midnightblue; }
.blockee-editor-block-element[data-bg-color="mintcream"], .bg-mintcream { background-color: mintcream; }
.blockee-editor-block-element[data-bg-color="mistyrose"], .bg-mistyrose { background-color: mistyrose; }
.blockee-editor-block-element[data-bg-color="moccasin"], .bg-moccasin { background-color: moccasin; }
.blockee-editor-block-element[data-bg-color="navajowhite"], .bg-navajowhite { background-color: navajowhite; }
.blockee-editor-block-element[data-bg-color="navy"], .bg-navy { background-color: navy; }
.blockee-editor-block-element[data-bg-color="oldlace"], .bg-oldlace { background-color: oldlace; }
.blockee-editor-block-element[data-bg-color="olive"], .bg-olive { background-color: olive; }
.blockee-editor-block-element[data-bg-color="olivedrab"], .bg-olivedrab { background-color: olivedrab; }
.blockee-editor-block-element[data-bg-color="orange"], .bg-orange { background-color: orange; }
.blockee-editor-block-element[data-bg-color="orangered"], .bg-orangered { background-color: orangered; }
.blockee-editor-block-element[data-bg-color="orchid"], .bg-orchid { background-color: orchid; }
.blockee-editor-block-element[data-bg-color="palegoldenrod"], .bg-palegoldenrod { background-color: palegoldenrod; }
.blockee-editor-block-element[data-bg-color="palegreen"], .bg-palegreen { background-color: palegreen; }
.blockee-editor-block-element[data-bg-color="paleturquoise"], .bg-paleturquoise { background-color: paleturquoise; }
.blockee-editor-block-element[data-bg-color="palevioletred"], .bg-palevioletred { background-color: palevioletred; }
.blockee-editor-block-element[data-bg-color="papayawhip"], .bg-papayawhip { background-color: papayawhip; }
.blockee-editor-block-element[data-bg-color="peachpuff"], .bg-peachpuff { background-color: peachpuff; }
.blockee-editor-block-element[data-bg-color="peru"], .bg-peru { background-color: peru; }
.blockee-editor-block-element[data-bg-color="pink"], .bg-pink { background-color: pink; }
.blockee-editor-block-element[data-bg-color="plum"], .bg-plum { background-color: plum; }
.blockee-editor-block-element[data-bg-color="powderblue"], .bg-powderblue { background-color: powderblue; }
.blockee-editor-block-element[data-bg-color="purple"], .bg-purple { background-color: purple; }
.blockee-editor-block-element[data-bg-color="rebeccapurple"], .bg-rebeccapurple { background-color: rebeccapurple; }
.blockee-editor-block-element[data-bg-color="red"], .bg-red { background-color: red; }
.blockee-editor-block-element[data-bg-color="rosybrown"], .bg-rosybrown { background-color: rosybrown; }
.blockee-editor-block-element[data-bg-color="royalblue"], .bg-royalblue { background-color: royalblue; }
.blockee-editor-block-element[data-bg-color="saddlebrown"], .bg-saddlebrown { background-color: saddlebrown; }
.blockee-editor-block-element[data-bg-color="salmon"], .bg-salmon { background-color: salmon; }
.blockee-editor-block-element[data-bg-color="sandybrown"], .bg-sandybrown { background-color: sandybrown; }
.blockee-editor-block-element[data-bg-color="seagreen"], .bg-seagreen { background-color: seagreen; }
.blockee-editor-block-element[data-bg-color="seashell"], .bg-seashell { background-color: seashell; }
.blockee-editor-block-element[data-bg-color="sienna"], .bg-sienna { background-color: sienna; }
.blockee-editor-block-element[data-bg-color="silver"], .bg-silver { background-color: silver; }
.blockee-editor-block-element[data-bg-color="skyblue"], .bg-skyblue { background-color: skyblue; }
.blockee-editor-block-element[data-bg-color="slateblue"], .bg-slateblue { background-color: slateblue; }
.blockee-editor-block-element[data-bg-color="slategray"], .bg-slategray { background-color: slategray; }
.blockee-editor-block-element[data-bg-color="snow"], .bg-snow { background-color: snow; }
.blockee-editor-block-element[data-bg-color="springgreen"], .bg-springgreen { background-color: springgreen; }
.blockee-editor-block-element[data-bg-color="steelblue"], .bg-steelblue { background-color: steelblue; }
.blockee-editor-block-element[data-bg-color="tan"], .bg-tan { background-color: tan; }
.blockee-editor-block-element[data-bg-color="teal"], .bg-teal { background-color: teal; }
.blockee-editor-block-element[data-bg-color="thistle"], .bg-thistle { background-color: thistle; }
.blockee-editor-block-element[data-bg-color="tomato"], .bg-tomato { background-color: tomato; }
.blockee-editor-block-element[data-bg-color="turquoise"], .bg-turquoise { background-color: turquoise; }
.blockee-editor-block-element[data-bg-color="violet"], .bg-violet { background-color: violet; }
.blockee-editor-block-element[data-bg-color="wheat"], .bg-wheat { background-color: wheat; }
.blockee-editor-block-element[data-bg-color="white"], .bg-white { background-color: white; }
.blockee-editor-block-element[data-bg-color="whitesmoke"], .bg-whitesmoke { background-color: whitesmoke; }
.blockee-editor-block-element[data-bg-color="yellow"], .bg-yellow { background-color: yellow; }
.blockee-editor-block-element[data-bg-color="yellowgreen"], .bg-yellowgreen { background-color: yellowgreen; }



