:root {
    --blockee-spacer-0: 0px;
    --blockee-spacer-1: 14px;
    --blockee-spacer-2: 28px;
    --blockee-spacer-3: 42px;
    --blockee-spacer-4: 56px;
    --blockee-spacer-5: 70px;

    --blockee-spacer-6: 84px;
    --blockee-spacer-7: 98px;
    --blockee-spacer-8: 112px;
    --blockee-spacer-9: 126px;
    --blockee-spacer-10: 140px;
}
