<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>{{ page.meta_title }}</title>
<script defer src="@theme_assets_js/app.js"></script>

