div.phpdebugbar {
    border:0!important;
    font-family:Consolas,"Courier New",monospace;
}

div.phpdebugbar *:not(i) {
    font-family:Consolas,"Courier New",monospace!important;
}

div.phpdebugbar dl {
    display:inline;
}

dl.phpdebugbar-widgets-kvlist dt {
    min-width: auto;
}

.phpdebugbar-fa-database,
.phpdebugbar-fa-tasks,
.phpdebugbar-fa-list-alt
{

    display: inline-block!important;
    margin-right:8px!important;
}

a.phpdebugbar-restore-btn {
    background: black url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20fill%3D%22%23000%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229%22%2F%3E%3Cpath%20d%3D%22M6.039%208.342c.463%200%20.772.084.927.251.154.168.191.455.11.862-.084.424-.247.727-.487.908-.241.182-.608.272-1.1.272h-.743l.456-2.293h.837zm-2.975%204.615h1.22l.29-1.457H5.62c.461%200%20.84-.047%201.139-.142.298-.095.569-.254.812-.477.205-.184.37-.387.497-.608.127-.222.217-.466.27-.734.13-.65.032-1.155-.292-1.518-.324-.362-.84-.543-1.545-.543H4.153l-1.089%205.479zM9.235%206.02h1.21l-.289%201.458h1.079c.679%200%201.147.115%201.405.347.258.231.335.607.232%201.125l-.507%202.55h-1.23l.481-2.424c.055-.276.035-.464-.06-.565-.095-.1-.298-.15-.608-.15H9.98L9.356%2011.5h-1.21l1.089-5.48M15.566%208.342c.464%200%20.773.084.928.251.154.168.19.455.11.862-.084.424-.247.727-.488.908-.24.182-.607.272-1.1.272h-.742l.456-2.293h.836zm-2.974%204.615h1.22l.29-1.457h1.046c.461%200%20.84-.047%201.139-.142.298-.095.569-.254.812-.477.205-.184.37-.387.497-.608.127-.222.217-.466.27-.734.129-.65.032-1.155-.292-1.518-.324-.362-.84-.543-1.545-.543H13.68l-1.089%205.479z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E) no-repeat center / 26px 26px;
    width: 26px;
    height: 26px;
}

a.phpdebugbar-minimize-btn {
    background: url(data:image/svg+xml,%3Csvg%20viewBox=%220%200%201792%201792%22%20fill=%22%23ffffff%22%20xmlns=%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d=%22m1683%20653.5-742%20741c-12.667%2012.67-27.667%2019-45%2019s-32.333-6.33-45-19l-742-741c-12.667-12.667-19-27.833-19-45.5s6.333-32.833%2019-45.5l166-165c12.667-12.667%2027.667-19%2045-19s32.333%206.333%2045%2019l531%20531%20531-531c12.67-12.667%2027.67-19%2045-19s32.33%206.333%2045%2019l166%20165c12.67%2012.667%2019%2027.833%2019%2045.5s-6.33%2032.833-19%2045.5Z%22%20fill=%22%23ffffff%22%2F%3E%3C%2Fsvg%3E) no-repeat center / 16px 16px;
    opacity: 0.5;
}
a.phpdebugbar-close-btn {
    display: none;
}

a.phpdebugbar-minimize-btn:hover,
a.phpdebugbar-maximize-btn:hover
{
    opacity: 1;
}


div.phpdebugbar-header {
    color: #ccc;
    background: #333;
}

a.phpdebugbar-restore-btn,
span.phpdebugbar-indicator, a.phpdebugbar-indicator
{
    border-right-color: #666;
    border-right: 0;
}

div.phpdebugbar-header > div > * {
    height: 26px;
    font-size: 14px;
    padding: 5px 15px;
    color: #aaa;
}

div.phpdebugbar-header > div > *:hover {
    color: white;
}

a.phpdebugbar-tab.phpdebugbar-active {
    background-image: none;
    color: white;
    background: #666;
    background: #a533ff;

}

div.phpdebugbar code,
div.phpdebugbar pre,
div.phpdebugbar samp {
    text-align: left;
}

dd.phpdebugbar-widgets-value.phpdebugbar-widgets-pretty {
    background: #e5e5e5;
}


.phpdebugbar-widgets-sql {
    text-align: left;
}

div.phpdebugbar-widgets-sqlqueries table.phpdebugbar-widgets-params td {
    font-size: 0.85em;
    vertical-align: middle;
}
div.phpdebugbar-widgets-sqlqueries table.phpdebugbar-widgets-params td.phpdebugbar-widgets-name {
    padding: 3px;
    background: #ccc;
}

div.phpdebugbar-widgets-sqlqueries table.phpdebugbar-widgets-params td.phpdebugbar-widgets-value {
    padding: 3px;
}

dl.phpdebugbar-widgets-varlist, dl.phpdebugbar-widgets-htmlvarlist
{
    font-size: 0.85em;
}