{% if menu == false %}


{% else %}
<nav class="app-breadcrumbs d-none" aria-label="breadcrumb">

    <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="/@backend/"><i class="bi bi-speedometer2"></i> </a></li>

            {% for nav in menu %}
                <li class="breadcrumb-item active"><a href="{{ nav.url }}"><i18n>{{ nav.name }}</i18n></a></li>
            {% endfor %}

        {% endif %}


    </ol>
</nav>