/** backend> auth:login */
.backend .login-form-wrapper {padding-top: 150px;}
.backend .login-form-wrapper:after{
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	/* background-color: #f8f9fd;*/

	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: bkg-gradient 120s ease infinite;
	height: 100vh;


}

.login-form-wrapper .box-form {
	background: white;
}

@keyframes bkg-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}