<div class="widget widget-small card w-100 mt-2 h-auto">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">

            <h5 class="card-title"></h5>

            <div class="widget-header-actions">
                <a href="/@backend/analytics/" class="btn py-1 btn-sm btn-link"><i class="bi bi-graph-up"></i> <i18n>View statistics</i18n></a>
            </div>
        </div>


        <div class="card-text pt-2" style="overflow: hidden; height: 220px">

            <div class="row">
                <div class="col-2">
                    <div class="border text-center py-5">
                        <h1>{{ last_visitors }}</h1>
                        <small><i18n>visitors since 5 minutes</i18n></small>
                    </div>
                </div>

                <div class="col-8">
                    <div id="total_visitors_chart" data-json='{{ data_json|raw }}'></div>
                </div>

            </div>



        </div>
    </div>
</div>
<script src="/core/module/core-frontend/analytics/assets/js/widget.js"></script>