<div class="widget widget-bookmarks widget-small card w-100 h-auto">
    <div class="card-body">
        <h5 class="card-title d-none"><i class="bi bi-bookmark-fill"></i> <i18n>My bookmarks</i18n></h5>
        <div class="card-text">
            <div class="no-record pt-2 text-center text-muted d-none">
                <i18n>You don't have bookmark, please click</i18n> <i class="bi bi-bookmark"></i> <i18n>on plugin name to add/remove bookmark</i18n>
            </div>
            <div class="widget-bookmarks-wrapper"></div>
        </div>
    </div>
</div>
